@import (reference) './mobile.css';

.index {
    display: flex;
    font-family: arial;
    height: 100%;
    direction: ltr;
    position: relative;

    .laptopsList {
        overflow-y: auto;
        overflow-x: hidden;
        height: 100%;
    }

    .lp-label {
        margin-bottom: 6px;
    }

    .filterIconBtnWrapper {
        position: fixed;
        bottom: 6px;
        right: 6px;
    }

    @media only screen and (max-width: 768px) {
        .filterIconBtnWrapper {
            right: initial;
            left: 0;
        }
    }

    .spinner {
        margin: 120px auto;
    }
}
