.filters {
    padding: 0 10px;
    direction: rtl;

    .filters-fixed {
        overflow-y: auto;
        position: fixed;
        height: 100vh;

        .resetBtn {
            margin-top: 10px;
        }
    }
}
