.filters {
    padding: 0 10px;
    direction: rtl;

    .filters-fixed {
        right: 0;
        height: 100vh;
        overflow-y: auto;

        .resetBtn {
            margin-top: 10px;
        }
    }
}
