.laptopRow {
    display: flex;
    align-items: center;

    .price {
        flex: 1;
        text-align: center;
    }

    .title {
        flex: 8;
        font-size: 14px;
    }

    .image {
        flex: 1;
        width: 100px;
        height: 100px;
    }
}
